.nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
}

.header {
    height: 708px;
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
}

.header .nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item-wrapper {
    display: flex;
    align-items: center;
}

.nav-item > a {
    margin: 0 20px;
}

.header .nav-item-wrapper > * {
    margin-left: 15px;
}

.header .nav-content {
    margin-top: 20px;
}

.header .nav-content .nav-content-details {
    max-width: 520px;
    width: 100%;
    margin: 20px auto;
    font-size: 16px;
}

.data-wrapper {
    max-width: 1200px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.data-item {
    margin: 0;
    text-align: center;
}

.data-line {
    width: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.05);
}

.data-num {
    margin: 0;
    line-height: 50px;
    font-size: 50px;
}

.data-info {
    margin-top: 20px;
    line-height: 14px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.self-card-group-wrapper {
    max-width: 1108px;
    margin: 120px auto 0 auto;
}

.self-card {
    background-image: url(../assets/dot.png);
    padding: 50px;
    background-position: top right;
    background-size: 138px;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.price-wrapper{
    max-width: 1108px;
    margin: 120px auto 0 auto;
}

.price-card-wrapper{
    display: flex;
}

.price-card{
    margin: 40px 20px 0 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    color: #666;
    flex: 1;
    border-left: 6px solid #4F3DF5;
}

.price-card > div{
    margin: 5px 0;
}

.self-card-content {
    color: #666;
    padding-left: 25px;
    margin-top: 10px;
    border-left: 4px solid rgba(0, 0, 0, 0.05);
}

.self-card-content > div{
    margin: 5px 0;
}

.multi-scenario {
    max-width: 1200px;
    margin: 80px auto 0 auto;
}

.multi-scenario-content {
    display: flex;
    align-items: center;
    padding: 32px;
}

.multi-scenario-content-detail {
    margin-left: 20px;
}

.multi-scenario-content-detail > b {
    font-size: 18px;
}

.multi-scenario-content-detail > div {
    color: #666;
    margin-top: 10px;
    font-size: 14px;
}

.advantage-wrapper {
    background-image: linear-gradient(180deg, #f4f6ff 0, #fff 100%);
    padding-top: 70px;
}

.advantage {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.advantage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 32px 48px;
}

.advantage-content > b {
    font-size: 18px;
    margin-bottom: 10px;
}

.advantage-content > div {
    color: #666;
    font-size: 14px;
}

.advantage-content > img {
    margin-bottom: 10px;
}

.privacy {
    max-width: 1140px;
    margin: 70px auto 0 auto;
}

.privacy-wrapper {
    display: flex;
    padding: 32px;
}

.privacy-content {
    margin-left: 20px;
}

.privacy-content > b {
    font-size: 18px;
}

.privacy-content > div {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

.faq-wrapper {
    background-image: linear-gradient(180deg, #f4f6ff 0, #fff 100%);
}

.faq {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
}

.faq-title {
    display: flex;
    align-items: center;
}

.faq-content {
    padding: 10px;
}

.faq-content > div {
    color: #666;
    font-size: 14px;
}

.about-wrapper{
    max-width: 900px;
    margin: 50px auto;
}

.footer {
    background-color: #0f132e;
}

.footer-content {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
    color: rgba(255,255,255, 0.7);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-content a {
    text-decoration: none;
    color: rgba(255,255,255, 0.7);
}

.footer-content a:hover {
    color: #0a58ca;
}

.footer-content-item {
    margin-bottom: 10px;
}

.footer-content-item img {
    margin-right: 3px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav > a {
    margin-bottom: 5px;
}

.copyright{
    font-size: 14px;
    color: rgba(255,255,255, 0.5);
    max-width: 1030px;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255, 0.5);
    padding: 20px 0;
    display: flex;
}

.red-text-with-white-border {
    color: red; /* 文字颜色 */
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px  1px 0 #fff,
            1px  1px 0 #fff; /* 设置文字阴影来创建白色边框效果 */
}

#nav-section, #card-section, #multi-section, #faq-section, #advantage-section, #privacy-section, #footer-section, #about-section, #price-section {
    scroll-margin-top: 80px;
}